@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-consolas: Consolas, monospace;
	}
}

@layer utilities {
	.font-consolas {
		font-family: var(--font-consolas);
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/*
@media (min-width: 992px) {
	body {
		padding: 35px 50px;
	}
}
*/
